<form action="{{ url_for('create_episode') }}" method="post">
    <input type="hidden" name="_next" value="{{ _next or request.args.get('_next') or url_for('list_episode') }}"/>
    <table>
    <tr><td>
      <label for="input-episode-episode_short">{{ _("episode_short") }}</label>:
        </td><td>
        <input id="input-episode-episode_short"
               type="text" name="episode_short" autocomplete="off"
        />
    </td></tr>
    <tr><td>
      <label for="input-episode-title">{{ _("title") }}</label>:
        </td><td>
        <input id="input-episode-title"
               type="text" name="title" autocomplete="off"
        />
    </td></tr>
    <tr><td>
      <label for="input-episode-date">{{ _("date") }}</label>:
        </td><td>
        <input id="input-episode-date"
               type="text" name="date" autocomplete="off"
        />
    </td></tr>
    <tr><td>
      <label for="input-episode-duration">{{ _("duration") }}</label>:
        </td><td>
        <input id="input-episode-duration"
               type="text" name="duration" autocomplete="off"
        />
    </td></tr>
    <tr><td>
      <label for="input-episode-link">{{ _("link") }}</label>:
        </td><td>
        <input id="input-episode-link"
               type="text" name="link" autocomplete="off"
        />
    </td></tr>
    <tr><td>
      <label for="input-episode-participants">{{ _("participants") }}</label>:
        </td><td>
        <input id="input-episode-participants"
               type="text" name="participants" autocomplete="off"
        />
    </td></tr>
    </table>
    <input type="submit">
</form>