
{% if "episode_short" not in skip_list %}
  <li id="display-episode-episode_short"><strong>{{ _("episode_short") }}</strong>: {{ instance.episode_short }}</li>
{% endif %}
{% if "title" not in skip_list %}
  <li id="display-episode-title"><strong>{{ _("title") }}</strong>: {{ instance.title }}</li>
{% endif %}
{% if "date" not in skip_list %}
  <li id="display-episode-date"><strong>{{ _("date") }}</strong>: {{ instance.date }}</li>
{% endif %}
{% if "duration" not in skip_list %}
  <li id="display-episode-duration"><strong>{{ _("duration") }}</strong>: {{ instance.duration }}</li>
{% endif %}
{% if "link" not in skip_list %}
  <li id="display-episode-link"><strong>{{ _("link") }}</strong>: {{ instance.link }}</li>
{% endif %}
{% if "participants" not in skip_list %}
  <li id="display-episode-participants"><strong>{{ _("participants") }}</strong>: {{ instance.participants }}</li>
{% endif %}