{% for instance in instances %}
    <li>
        <a href="{{ url_for('get_episode', uuid=instance.id) }}">
            {% include "episode/_title.html" %}</a>
        |
        [
        <a href="{{ url_for('update_episode', uuid=instance.id, _next=request.path) }}">e</a> |
        <a href="{{ url_for('delete_episode', uuid=instance.id, _next=request.path) }}">x</a>
        ]
    </li>
{% endfor %}