<table class="full-width data-table">
    <thead>
    <tr>
        {% if "episode_short" not in skip_columns  %}
        <th>{{ _("episode_short") }}</th>
        {% endif %}
        {% if "title" not in skip_columns  %}
        <th>{{ _("title") }}</th>
        {% endif %}
        {% if "date" not in skip_columns  %}
        <th>{{ _("date") }}</th>
        {% endif %}
        {% if "duration" not in skip_columns  %}
        <th>{{ _("duration") }}</th>
        {% endif %}
        {% if "link" not in skip_columns  %}
        <th>{{ _("link") }}</th>
        {% endif %}
        {% if "participants" not in skip_columns  %}
        <th>{{ _("participants") }}</th>
        {% endif %}
        <th>{{ _("Actions") }}</th>
    </tr>
    </thead>
    <tbody>
        {% for instance in instances %}
            <tr>
                {% if "episode_short" not in skip_columns  %}
                <td>
                {{ instance.episode_short }}
                </td>
                {% endif %}
                {% if "title" not in skip_columns  %}
                <td>
                {{ instance.title }}
                </td>
                {% endif %}
                {% if "date" not in skip_columns  %}
                <td>
                {{ instance.date }}
                </td>
                {% endif %}
                {% if "duration" not in skip_columns  %}
                <td>
                {{ instance.duration }}
                </td>
                {% endif %}
                {% if "link" not in skip_columns  %}
                <td>
                {{ instance.link }}
                </td>
                {% endif %}
                {% if "participants" not in skip_columns  %}
                <td>
                {{ instance.participants }}
                </td>
                {% endif %}
                <td>
                <a href="{{ url_for('update_episode', uuid=instance.id, _next=request.path) }}">e</a> |
                <a href="{{ url_for('delete_episode', uuid=instance.id, _next=request.path) }}">x</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>