<form action="{{ url_for('update_episode', uuid=instance.id) }}" method="post">
    <input type="hidden" name="_next" value="{{ _next or request.args.get('_next') or url_for('get_episode', uuid=instance.id) }}"/>
    <table>
    <tr><td>
    <label for="input-episode-episode_short">{{ _("episode_short") }}</label>:
    </td><td>
    <input id="input-episode-episode_short"
           value="{{ instance.episode_short }}"
           type="text" name="episode_short" autocomplete="off"
    />
    </td></tr>
    <tr><td>
    <label for="input-episode-title">{{ _("title") }}</label>:
    </td><td>
    <input id="input-episode-title"
           value="{{ instance.title }}"
           type="text" name="title" autocomplete="off"
    />
    </td></tr>
    <tr><td>
    <label for="input-episode-date">{{ _("date") }}</label>:
    </td><td>
    <input id="input-episode-date"
           value="{{ instance.date }}"
           type="text" name="date" autocomplete="off"
    />
    </td></tr>
    <tr><td>
    <label for="input-episode-duration">{{ _("duration") }}</label>:
    </td><td>
    <input id="input-episode-duration"
           value="{{ instance.duration }}"
           type="text" name="duration" autocomplete="off"
    />
    </td></tr>
    <tr><td>
    <label for="input-episode-link">{{ _("link") }}</label>:
    </td><td>
    <input id="input-episode-link"
           value="{{ instance.link }}"
           type="text" name="link" autocomplete="off"
    />
    </td></tr>
    <tr><td>
    <label for="input-episode-participants">{{ _("participants") }}</label>:
    </td><td>
    <input id="input-episode-participants"
           value="{{ instance.participants }}"
           type="text" name="participants" autocomplete="off"
    />
    </td></tr>
    </table>
    <input type="submit">
</form>