{% extends "layout.html" %}

{% block content %}
    <a href="{{ url_for('list_episode', uuid=instance.id) }}">list</a> |
    <h2>{% include "episode/_title.html" %}</h2>
    <a href="{{ url_for('update_episode', uuid=instance.id, _next=request.path) }}">edit</a> |
    <a href="{{ url_for('delete_episode', uuid=instance.id) }}">delete</a>
    {% include "episode/_get.html" %}
{% endblock %}