{% extends "layout.html" %}

{% block content %}
    <h2>Search results for Episodes</h2>
    <a href="{{ url_for('create_episode') }}">Create</a>
    <br>
    {% include "episode/_search.html" %}
{% endblock %}