{% extends "layout.html" %}


{% block style %}
    <style>
        body {
            margin: 0;
        }

        iframe {
            border: 0;
            width: calc(100% - 17px);
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            border: none
        }
    </style>
{% endblock %}

{% block content %}
    <iframe src="{{ timer.board_url }}"></iframe>
{% endblock %}