{% extends "layout.html" %}

{% block content %}
    <video muted autoplay loop style="width:100%; height: 500px;">
        <source src="{{ url_for('oshipka_bp.get_media', filepath="outro.mp4") }}" type="video/mp4">
        <img src="{{ url_for('oshipka_bp.get_media', filepath="cover_bunch.png") }}">
    </video>
    <div style="text-align: center;">
        <h1>Curious Bunch</h1>
        <p>
            <a href="https://www.facebook.com/CuriousBun/" target="_blank">Страница във Facebook</a> |
            <a href="https://www.youtube.com/channel/UC88v_IEM2fQrIJqjaV0S4Ow" target="_blank">Канал в YouTube</a>
        </p>
        <p>Всяка четвъртък вечер, на живо в YouTube, група от любопитни фенове на науката правят предаването Curious Bunch – пълно с физика, математика, икономика, технологии и всякакви интересни теми от живота.</p>
    <p>Вижте епизодите ни по-долу!</p>
        {% for episode in episodes_pagination.items %}
            <h2>{{ episode.title }}</h2>
            <p>Излъчен на {{ episode.date }} с участници {{ episode.participants }}.</p>
            <iframe width="1000" height="600" src="{{ episode.link }}" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            <hr>
        {% endfor %}
    </div>
    {% import "_macros.html" as m %}
    {{ m.render_pagination(episodes_pagination, 'home') }}
{% endblock %}