
{% if "end_dt" not in skip_list %}
  <li id="display-timer-end_dt"><strong>{{ _("end_dt") }}</strong>: {{ instance.end_dt }}</li>
{% endif %}
{% if "board_url" not in skip_list %}
  <li id="display-timer-board_url"><strong>{{ _("board_url") }}</strong>: {{ instance.board_url }}</li>
{% endif %}