{% for instance in instances %}
    <li>
        <a href="{{ url_for('get_timer', uuid=instance.id) }}">
            {% include "timer/_title.html" %}</a>
        |
        [
        <a href="{{ url_for('update_timer', uuid=instance.id) }}">e</a> |
        <a href="{{ url_for('delete_timer', uuid=instance.id) }}">x</a>
        ]
    </li>
{% endfor %}