<table class="full-width data-table">
    <thead>
    <tr>
        {% if "end_dt" not in skip_columns  %}
        <th>{{ _("end_dt") }}</th>
        {% endif %}
        {% if "board_url" not in skip_columns  %}
        <th>{{ _("board_url") }}</th>
        {% endif %}
        <th>{{ _("Actions") }}</th>
    </tr>
    </thead>
    <tbody>
        {% for instance in instances %}
            <tr>
                {% if "end_dt" not in skip_columns  %}
                <td>
                {{ instance.end_dt }}
                </td>
                {% endif %}
                {% if "board_url" not in skip_columns  %}
                <td>
                {{ instance.board_url }}
                </td>
                {% endif %}
                <td>
                <a href="{{ url_for('update_timer', uuid=instance.id, _next=request.path) }}">e</a> |
                <a href="{{ url_for('delete_timer', uuid=instance.id, _next=request.path) }}">x</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>