<form action="{{ url_for('update_timer', uuid=instance.id) }}" method="post">
    <input type="hidden" name="_next" value="{{ _next or request.args.get('_next') or url_for('get_timer', uuid=instance.id) }}"/>
    <table>
    <tr><td>
    <label for="input-timer-end_dt">{{ _("end_dt") }}</label>:
    </td><td>
    <input id="input-timer-end_dt"
           value="{{ instance.end_dt }}"
           type="text" name="end_dt" autocomplete="off"
    />
    </td></tr>
    <tr><td>
    <label for="input-timer-board_url">{{ _("board_url") }}</label>:
    </td><td>
    <input id="input-timer-board_url"
           value="{{ instance.board_url }}"
           type="text" name="board_url" autocomplete="off"
    />
    </td></tr>
    </table>
    <input type="submit">
</form>