{% extends "layout.html" %}

{% block style %}
    <style>
        video {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
        }

        .content {
            position: fixed;
            top: 0;
            color: #222;
            width: 100%;
            padding: 20px;
            text-align: center;
            font-size: 30px;
        }
    </style>
{% endblock %}

{% block content %}
    <span id="timer-data" data-end_dt="{{ instance.end_dt }}"></span>
    <video muted autoplay loop>
        <source src="{{ url_for('oshipka_bp.get_media', filepath="timer.mp4") }}" type="video/mp4">
        <source src="{{ url_for('oshipka_bp.get_media', filepath="timer.webm") }}" type="video/webm">
        <img src="{{ url_for('oshipka_bp.get_media', filepath="cover_bunch.png") }}">
    </video>
    <div class="content">
        <h1 id="timer">...</h1>
    </div>
{% endblock %}

{% block script %}
    <script>
        // Set the date we're counting down to
        let end_dt = $('#timer-data').data("end_dt")
        var countDownDate = new Date(end_dt).getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var diff = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(diff / (1000 * 60 * 60 * 24));
            var hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((diff % (1000 * 60)) / 1000);

            let timeStr = 'след ';
            if (days > 0) {
                timeStr += days.toString() + " дни, "
            }
            if (hours > 0) {
                timeStr += hours.toString() + " часа, "
            }
            timeStr += minutes.toString().padStart(2, '0') + ":" + seconds.toString().padStart(2, '0')
            $('#timer').html(timeStr)

            // If the count down is finished, write some text
            if (diff < 0) {
                clearInterval(x);
            }
        }, 1000);
    </script>
{% endblock %}