{% extends "layout.html" %}

{% block content %}
    <h2>Search results for Timers</h2>
    <a href="{{ url_for('create_timer') }}">Create</a>
    <br>
    {% include "timer/_search.html" %}
{% endblock %}